:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  padding: 0.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1,
  h2,
  h3,
  h4 {
    margin: 20px 0 10px;
    color: #6fa1d4;
  }

  h1 {
    font-size: 2.5em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
  }

  h3 {
    font-size: 1.5em;
    color: #4a90e2;
  }

  h4 {
    font-size: 1.25em;
    color: #4a90e2;
  }

  p {
    margin: 10px 0;
  }

   .codeBlock {
    background-color: #2c3e50;
  }

  code,
  pre {

    color: #ecf0f1;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
  }

  pre {
    overflow-x: auto;
    padding: 15px;
    border: 1px solid #34495e;
    margin: 15px 0;
  }

  .comment {
    color: #27ae60;
    /* Dark Green */
  }

  .variable {
    color: #3498db;
    /* Blue */
  }

  .function {
    color: #e67e22;
    /* Dark Orange */
  }

  .object,
  .type {
    color: #2ecc71;
    /* Dark Green */
  }

  .keyword {
    color: #8e44ad;
    /* Dark Purple */
  }

  .string {
    color: #d35400;
    /* Brown */
  }

  .number {
    color: #2ecc71;
    /* Yellow-Green */
  }

  .operator {
    color: #000;
    /* Black */
  }

  .punctuation {
    color: #2980b9;
    /* Another Blue */
  }

  a {
    color: #4a90e2;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul,
  ol {
    margin: 10px 0;
    padding-left: 20px;
  }

  li {
    margin: 5px 0;
  }

  strong {
    font-weight: bold;
    color: #333;
  }